body{
    background-color: aliceblue;
}
h1{
    background-color: white;
}
h2{
    background-color: aquamarine;
    color: rebeccapurple;
}

.hobby{

    text-align: left;
}

.linkedIn{
    
    text-align: center;
}

.gitHub{
    text-align: right;
}